# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
numpy=1.23.3=py39h3b20f71_0
pandas=1.4.4=py39hd77b12b_0
joblib=1.1.1=py39haa95532_0
